// Colors
@colors: {
	gold: #7c6e52;
	black: #242424;
	gray: lighten(#242424, 2%);
	white: #ffffff;
}

@foregound-color: @colors[gold];
@background-color: @colors[white];

@navbar: {
	background-color: @colors[gold];

	@link: {
		text-color: @colors[white];
		background-color: @colors[black];
	}

	@horizontal: {
		width: 100%;
		height: 7vh;
		padding: auto;
		padding-left: 2%;
	}

	@vertical: {
		width: 30%;
		height: 93vh;
		padding: 2%;
	}

	@item: {
		padding: 1vh;
		max-height: 80%;
		gap: 2.5%;
	}
}

@footer: {
	background-color: @colors[gold];

	@dimensions: {
		width: 100%;
		height: 7vh;
		padding: auto;
	}
}

@left-padding: 2%;
@right-padding: 2%;

@horizontal-width: 700px;

@logo: {
	// Keep aspect ratio
	width: auto;
	height: 65%;
}

@card: {
	background-color: @colors[white];
	text-color: @colors[black];

	@dimensions: {
		width: 30%;
		height: 30%;
		max-width: 200px;
		max-height: 200px;
	}

	@link: {
		text-color: @colors[white];
		background-color: @colors[gold];

		@dimensions: {
			padding: 3%;
		}
	}

	@padding: 5%;
	@margin: 2%;
}